<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
{% include "partials/og-tags.liquid" %}
    <link rel="canonical" href="{{ site.domain }}{{ page.url  }}">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <script type="module" src="/js/main.js"></script>
{% include "partials/jsonld-person.liquid" %}
  </head>
  <body class="list dark">
{% comment %} {% include "partials/header.liquid" %} {% endcomment %}
{{content}}
{% comment %} {% include "partials/footer.liquid" %} {% endcomment %}
  </body>
</html>
